<h1>Admin</h1>

<div class="">
  <label>Friday Total:</label>
  <span>{{ admin.attendeesPresent('8/4/17') }}</span>
</div>
<div class="">
  <label>Saturday Total:</label>
  <span>{{ admin.attendeesPresent('8/5/17') }}</span>
</div>
<div class="">
  <label>Sunday Total:</label>
  <span>{{ admin.attendeesPresent('8/6/17') }}</span>
</div>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Arrival Date</th>
      <th>Departure Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="attendee in admin.attendees">
      <td>{{ attendee.firstName }}</td>
      <td>{{ attendee.lastName }}</td>
      <td>{{ attendee.email }}</td>
      <td>{{ attendee.arrivalDate | date : 'shortDate' }}</td>
      <td>{{ attendee.departureDate | date : 'shortDate' }}</td>
    </tr>
  </tbody>
</table>
