
  <section class="hero is-primary is-large header-image">
    <!-- <div class="hero-head">
      <header class="nav">
        <div class="container">
          <div class="nav-left nav-menu">
            <a class="nav-item is-active">
              Home
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
      </header>
    </div> -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          EC Atlanta
        </h1>
        <h2 class="subtitle is-5">
          August 6-8, 2017
        </h2>
        <h2 class="subtitle">
          {{ home.attendees.length }} Signed Up!
        </h2>
      </div>
    </div>
  </section>
  <div class="hero-cta">
    <!-- <nav class="level"> -->
      <div class="block has-text-centered is-fullwidth"  ng-show="!home.inFormMode && !home.isRegistered">
        <div class="block has-text-centered is-fullwidth title is-2">
          RSVP and let us know you are coming!
        </div>
        <div class="block has-text-centered is-fullwidth">
          <a class="button is-primary" ng-click="home.switchRSVPForm()">RSVP</a>
        </div>
      </div>
            
          <!-- </nav> -->
      <div class="block has-text-centered is-fullwidth" ng-show="home.inFormMode &&!home.isRegistered">
        <div class="block has-text-centered is-fullwidth title is-2">
          RSVP and let us know you are coming!
        </div>
        <div class="block has-text-centered is-fullwidth">
            <label>First Name: </label>
            <input type="text" ng-model="home.newAttendee.firstName">
        </div>
        <div class="block has-text-centered is-fullwidth">
            <label>Last Name: </label>
            <input type="text" ng-model="home.newAttendee.lastName">
        </div>
        <div class="block has-text-centered is-fullwidth">
            <label>Email: </label>
            <input type="text" ng-model="home.newAttendee.email">
        </div>
        <div class="block has-text-centered is-fullwidth">
          <label class="lable">Arrival Date:</label>
          <input type="date" min="2017-08-05" max="2017-08-08" ng-model="home.newAttendee.arrivalDate">
        </div>
        <div class="block has-text-centered is-fullwidth">
          <label class="lable">Departure Date:</label>
          <input type="date" min="2017-08-06" max="2017-08-09" ng-model="home.newAttendee.departureDate">
        </div>
        <a class="button is-danger" ng-click="home.addAttendee()">Submit</a>
        <a class="button" ng-click="home.switchRSVPForm()">Cancel</a>
      </div>

    
    <div class="block has-text-centered is-fullwidth" ng-show="home.isRegistered">
      <div class="block has-text-centered is-fullwidth title is-2">
          Thanks for the RSVP!
      </div>
      <div class="block has-text-centered is-fullwidth">
          If you have questions or need to update your RSVP, contact Sergji at email.com
      </div>
    </div>
  </div>
  </div>
  <div class="section main">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div class="panel">
            <div class="panel-block section">
              <p class="has-text-centered"></i></p>
              <br>
              <p>Where: Smyrna, Georgia</p>
              <br>
              <p class="has-text-centered"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
        </p>
      </div>
    </div>
  </footer>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
