<h1>Home</h1>

<section class="hero has-text-centered">
  <div class="hero-body">
    <div class="container ">
      <h1 class="title">
        EC Atlanta 2017
      </h1>
      <h2 class="subtitle">
        August 6-8
      </h2>
      <h2 class="subtitle">
        {{ home.attendees.length }} Going!
      </h2>
    </div>
  </div>
</section>

<div class="block has-text-centered is-fullwidth">
    <input type="text" ng-model="home.newAttendee">
</div>
<div class="block has-text-centered is-fullwidth">
  <a class="button is-danger" ng-click="home.addAttendee()">RSVP</a>
</div>
